.home-preview {
  /* width: 70vw; */
  /* margin: 4rem auto; */
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-preview img {
  margin-bottom: -0.5rem;
  width: 80vw;
  max-height: 50rem;
  object-fit: cover;
}

.home-preview h2 {
  width: 80vw;

  color: white;
  font-weight: bold;
  background-color: var(--main-color);
  padding: 1rem;

  margin-bottom: 1rem;
}

.home-preview p {
  width: 80vw;

  margin-bottom: 3rem;
}
